PORT=5000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/kiranam
JWT_SECRET=supersecretjwtkeychangeinproduction

# Optional: Cloudinary Cloud Storage Config
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
